
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>word做章-两字印章-免费公章生成器-如何制作公章像是盖上的</title>
    <meta name="keywords" content="word做章-两字印章-免费公章生成器-如何制作公章像是盖上的">
    <meta name="description" content="电子印章在线生成器，word做章-两字印章-免费公章生成器-如何制作公章像是盖上的,可通过自定义配置在线制作各种印章、公章。一键生成电子印章，支持下载到本地。">
<link rel="stylesheet" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/css/style.css?v1">
<link rel="stylesheet" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/css/jquery-ui.css">
<link rel="stylesheet" href="/zz/css/index.css">
<link rel="stylesheet" href="/zz/css/gg.css">
<link rel="stylesheet" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/css/app.css">
<link rel="stylesheet" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/css/easyseal.css">
<link rel="stylesheet" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/css/sealfont.css">
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/jquery-1.9.1.js"></script>
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/jquery-ui.js"></script>
</head>
<body>
<!--header-->
<div class="zt-header">
  <div class="row1">
    <div class="col1">
      <div class="ico"><a href="/"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/niulogo.png" alt="印美兔"></a></div>
      <div class="txt">AI印章生成</div>
    </div>
    <div class="col2">
      <div class="ktvip"><a href="/price.html"><img src="/Aiimg/img/a1.gif" alt="">开通会员</a></div>
      <div class="hybox"><script src="/e/member/login/ktloginjs.php"></script>    </div>
    </div>
  </div>
</div>
<div class="zt-main">
  <div class="main">
    <div class="left1">
      <div class="btnG">
          <!--div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a1.svg" alt=""></div>
          <div class="txt">高清美化</div>
          </div>
        <div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a2.svg" alt=""></div>
          <div class="txt">高清放大</div>
        </div-->
        <div class="item">
          <div class="ico"><a target="_blank" href="/aikoutu/" ><img src="/zz/img/a3.svg" alt=""></a></div>
          <div class="txt">智能抠图</div>
        </div>
        <!--div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a4.svg" alt=""></div>
          <div class="txt">智能消除</div>
        </div>
        <div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a5.svg" alt=""></div>
          <div class="txt">图生视频</div>
        </div>
        <div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a6.svg" alt=""></div>
          <div class="txt">图片修复</div>
        </div>
        <div class="item">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a7.svg" alt=""></div>
          <div class="txt">AI证件照</div>
        </div-->
        <div class="item active">
          <div class="ico"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/a8.svg" alt=""></div>
          <div class="txt">印章生成</div>
        </div>
      </div>
    </div>
    <div class="left2">
      <div class="itemG">
        <div class="item active">
          <div class="row1">
            <div class="col1"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/b1.svg" alt="">印章模板</div>
            <div class="col2"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/btn2.svg" alt=""></div>
          </div>
          <div class="row2">
            <div class="tit">  </div>
            <div class="btnG">
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/yuanxingyinzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic1.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">圆形印章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/gongzhangyinzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic2.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">公章印章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/fengongsigongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic3.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">分公司公章</div>
              </div>
              <div class="btn  active">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/hetongzhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic4.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">合同专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/yewuzhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic5.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">业务专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/tuoyuanyinzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic6.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">椭圆印章</div>
              </div>

              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/fapiaozhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic7.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">发票专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/baoguanzhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic8.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">报关专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/shoufeizhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic9.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">收费专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/xianjinshouqi/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic34.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">现金收讫</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/caiwuzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic35.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">财务章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/farensizhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic10.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">法人私章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/lingxingzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic11.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">菱形章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/bianmingzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic12.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">扁名章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhiyezhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic13.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">执业章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zaojiazhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic14.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">造价章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/renzhengzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic15.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">认证章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/qifengzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic16.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">骑缝章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhiwenzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic17.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">指纹章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/yingwenzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic18.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">英文章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/cangwenzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic19.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">藏文章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/xianggangzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic20.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">香港章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/weiwenzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic21.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">维文章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/tiaoxingzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic22.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">条形章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhijianxiaoyuanzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic23.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">质检小圆章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhijianxiaoyuanzhang2/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic24.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">质检圆章2</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhijiandayuanzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic36.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">质检大圆章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zhijianfangxingzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic25.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">质检方形章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zuofeixiaoyuanzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic26.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">作废小圆章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/zuofeifangxingzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic27.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">作废方形章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/chuhuozhuanyongzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic28.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">出货专用章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/shoukongwenjianzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic29.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">受控文件章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/shoukongwenjianzhang2/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic30.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">受控文件章2</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/riqiyuanzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic31.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">日期圆章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/shizhiwenjianzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic32.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">试制文件章</div>
              </div>
              <div class="btn ">
                <div class="pic"><a href="//www.xiniuniu.com/zhuanyeyinzhang/jianyantuoyuanzhang/" ><img src="//ainitu.oss-cn-shanghai.aliyuncs.com/Aiimg/zy/img/pic33.png?x-oss-process=style/75X75" alt=""></a></div>               <div class="txt">检验椭圆章</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left3">
      <div class="btn"></div>
    </div>
    <div class="main1">  
    <!--下面请勿改动(除了文字)-->
    <div id="app" v-cloak>
  <main class="main">
    <div class="sealMain">
      <div class="leftBox">
        <p class="previewTitle"></p>
        <div class="absolute right-2.5 top-10px flex items-center">
          <el-button type="success" @click="createSealEx2" size="mini">生成中文印章</el-button>
          <el-button type="success" @click="createSealEx" size="mini">生成中英文印章</el-button>
          <button type="button" class="el-button el-tooltip el-button--primary el-button--mini" onclick="downyz()"><!----><!----><span>下载印章</span></button>
        </div>
        <div id="sealdiv">
          <canvas id="canvas" width="250" height="250"></canvas>
        </div>
      </div>
      <div class="rightBox">
        <h2>自定义印章</h2>
        <div class="setItemBox">
          <div class="setItem"> <span>公司：</span>
            <input class="text-sm w-50" type="text" v-model="input01" @input="setChange" />
          </div>
          <div class="setItem"> <span>字体</span>
            <select v-model="fontFamily01" @change="setChange">
              <option :value="item.name" v-for="item,index in fontList" :key="index">{{ item.name }}</option>
            </select>
          </div>
          <div class="setItem"> <span>字号</span>
            <el-input-number :min="10" :max="100" v-model="fontSize01" @change="setChange" label="字号" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>粗细</span>
            <select v-model="fontWeight01" @change="setChange">
              <option value="normal">默认</option>
              <option value="bold">加粗</option>
            </select>
          </div>
          <div class="setItem"> <span>字间距</span>
            <el-input-number :min="-100" :max="100" v-model="fontGap01" @change="setChange" label="字间距" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>字边距</span>
            <el-input-number :min="-100" :max="100" v-model="fontBorder01" @change="setChange" label="字边距" size="mini"></el-input-number>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem" v-show="CNorEN"> <span>英文：</span>
            <input class="text-sm w-50" type="text" v-model="input02" @input="setChange" />
          </div>
          <div class="setItem" v-show="CNorEN"> <span>字体</span>
            <select v-model="fontFamily02" @change="setChange">
              <option :value="item.name" v-for="item,index in fontList" :key="index">{{ item.name }}</option>
            </select>
          </div>
          <div class="setItem" v-show="CNorEN"> <span>字号</span>
            <el-input-number :min="10" :max="100" v-model="fontSize02" @change="setChange" label="字号" size="mini"></el-input-number>
          </div>
          <div class="setItem" v-show="CNorEN"> <span>粗细</span>
            <select v-model="fontWeight02" @change="setChange">
              <option value="normal">默认</option>
              <option value="bold">加粗</option>
            </select>
          </div>
          <div class="setItem" v-show="CNorEN"> <span>字边距</span>
            <el-input-number :min="-100" :max="100" v-model="fontBorder02" @change="setChange" label="字边距" size="mini"></el-input-number>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem"> <span>章名：</span>
            <input class="text-sm w-20" type="text" v-model="input03" @input="setChange" />
          </div>
          <div class="setItem"> <span>字体</span>
            <select v-model="fontFamily03" @change="setChange">
              <option :value="item.name" v-for="item,index in fontList" :key="index">{{ item.name }}</option>
            </select>
          </div>
          <div class="setItem"> <span>字号</span>
            <el-input-number :min="10" :max="100" v-model="fontSize03" @change="setChange" label="字号" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>粗细</span>
            <select v-model="fontWeight03" @change="setChange">
              <option value="normal">默认</option>
              <option value="bold">加粗</option>
            </select>
          </div>
          <div class="setItem"> <span>上下距离</span>
            <el-input-number :min="-100" :max="100" v-model="fontTop03" @change="setChange" label="上下距离" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>左右距离</span>
            <el-input-number :min="-100" :max="100" v-model="fontLeft03" @change="setChange" label="左右距离" size="mini"></el-input-number>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem"> <span>中心内容：</span>
            <input class="text-sm w-20" type="text" v-model="input04" @input="setChange"/>
          </div>
          <div class="setItem"> <span>字体</span>
            <select v-model="fontFamily04" @change="setChange">
              <option :value="item.name" v-for="item,index in fontList" :key="index">{{ item.name }}</option>
            </select>
          </div>
          <div class="setItem"> <span>字号</span>
            <el-input-number :min="10" :max="100" v-model="fontSize04" @change="setChange" label="字号" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>粗细</span>
            <select v-model="fontWeight04" @change="setChange">
              <option value="normal">默认</option>
              <option value="bold">加粗</option>
            </select>
          </div>
          <div class="setItem"> <span>上下距离</span>
            <el-input-number :min="-100" :max="100" v-model="fontTop04" @change="setChange" label="上下距离" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>左右距离</span>
            <el-input-number :min="-100" :max="100" v-model="fontLeft04" @change="setChange" label="左右距离" size="mini"></el-input-number>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem"> <span>防伪码：</span>
            <input class="text-sm w-50" type="text" v-model="input05" @input="setChange" />
          </div>
          <div class="setItem"> <span>字体</span>
            <select v-model="fontFamily05" @change="setChange">
              <option :value="item.name" v-for="item,index in fontList" :key="index">{{ item.name }}</option>
            </select>
          </div>
          <div class="setItem"> <span>字号</span>
            <el-input-number :min="10" :max="100" v-model="fontSize05" @change="setChange" label="字号" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>粗细</span>
            <select v-model="fontWeight05" @change="setChange">
              <option value="normal">默认</option>
              <option value="bold">加粗</option>
            </select>
          </div>
          <div class="setItem"> <span>字间距</span>
            <el-input-number :min="-100" :max="100" v-model="fontGap05" @change="setChange" label="字间距" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>矫正</span>
            <el-input-number :min="-100" :max="100" v-model="fontRotate05" @change="setChange" label="矫正" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>字边距</span>
            <el-input-number :min="-100" :max="100" v-model="fontBorder05" @change="setChange" label="字边距" size="mini"></el-input-number>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem"> <span>外边线</span>
            <el-input-number :min="1" :max="6" v-model="border06" @change="setChange" label="外边线" size="mini"></el-input-number>
          </div>
          <div class="setItem"> <span>内边线</span>
            <div class="flex items-center">
              <el-input-number :min="1" :max="6" v-model="border07" @change="setChange" label="内边线" size="mini"></el-input-number>
              <span class="text-xs text-gray-500">是否显示：</span>
              <el-checkbox v-model="checked07" @change="setChange"></el-checkbox>
            </div>
          </div>
        </div>
        <div class="setItemBox">
          <div class="setItem"> <span>颜色</span>
            <el-color-picker v-model="color08" show-alpha @change="setChange"></el-color-picker>
          </div>
          <div class="setItem"> <span>印章尺寸</span>
            <select v-model="sealSize09" @change="sizeChange">
              <option v-for="item,index in sealSize" :key="index" :value="item.size">{{ item.size }}</option>
            </select>
          </div>
          <div class="setItem"> <span>印章老化</span>
            <div class="flex items-center">
              <el-input-number :min="0" :max="100" v-model="noisy10" @change="setChange" label="老化" size="mini"></el-input-number>
              <span class="text-xs text-gray-500">是否开启：</span>
              <el-checkbox v-model="checked10" @change="isnoisyRadio"></el-checkbox>
            </div>
          </div>
        </div>
        <span class="absolute left-2 bottom-5px text-sm text-red-600">郑重声明：本工具生成的印章仅供个人学习测试使用，请勿用于非法用途，否则后果自负！</span> </div>
    </div>
  </main>
  
  
</div>
<div class="row2">
    <div class="col1">常见问题</div>
    <div class="col2">
        <div class="item"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/pic1.png" alt="">
          <div class="des-bk">
            <div class="txt"><b>设计效果不满意:</b><br>
            开通VIP会员后，赠送专业版电子印章软件学习教程<br>可以满足所有的设计需求，三分钟可学会。<br>
            客服电话：153-0863-1206
            </div>
            <div class="ico"></div>
          </div>
        </div>
        <div class="item"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/pic2.png" alt="">
          <div class="des-bk">
            <div class="txt"><b>开发票：</b><br>（金额、抬头、税号、地址、电话、开户行、银行账号） <br>开发票提供开票信息发邮件：976295637@qq.com； </div>
            <div class="ico"></div>
          </div>
        </div>
        <div class="item"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/pic3.png" alt="">
          <div class="des-bk">
            <div class="txt"><b>登录失败：</b><br>1.微信扫码登录失败，可能默认系统浏览器兼容性差，换个浏览器试试；<br>
 2.更换为手机号注册登录可以使用。<br>
<br>
<b>下载失败：</b><br>
1、换个浏览器下载试试；<br>
2、网址登录错误，检查自己(微信或支付宝）开通会员付款记录、支付账单详情备注：（网址+用户名）和现在自己登录的（网址+用户名）是否一致的?请收藏网址！！！<br>
3、检查会员是否过期！！！<br><br>
<b>忘记密码：</b><br>忘记密码请电话联系客服重置密码！！ </div>
            <div class="ico"></div>
          </div>
        </div>
        <div class="item"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/img/pic4.png" alt="">
          <div class="des-bk">
            <div class="txt"><b>水印问题：</b><br>下载后为无水印PNG透明图片<br>插入WORD、WPS、PDF软件后查看无水印。</div>
            <div class="ico"></div>
          </div>
        </div>
    </div>
</div>
        
      
    </div>
  </div>
</div>
<script>
        $('.zt-main .main .left3 .btn').click(function(){
            $(this).toggleClass('active');
            $('.zt-main .main .left2').toggleClass('active');
        })
        $(".zt-main .main .left2 .itemG .item .row1").click(function(){
            $(this).parent().toggleClass("active");
        })
        $(".zt-main .main .left2 .itemG .item .row2 .btnG .btn").click(function(){
            $(this).addClass("active").siblings().removeClass("active");

        })
    </script>
<script>
  //获取.zt-main .main .left2 .itemG .item .row2 .btnG .btn.active到.zt-main .main .left2 .itemG .item .row2 .btnG顶部距离
  var top1 = $('.zt-main .main .left2 .itemG .item .row2 .btnG .btn.active').offset().top;
  if(top1>=790&&top1<890){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(610);
  }
    if(top1>=890&&top1<990){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(710);
  }
    if(top1>=990&&top1<1190){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(810);
  }
      if(top1>=1190&&top1<1390){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(910);
  }
    if(top1>=1390&&top1<1590){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(1010);
  }
  if(top1>=1590&&top1<1790){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(1110);
  }
  if(top1>=1990){
    $('.zt-main .main .left2 .itemG .item .row2 .btnG').scrollTop(1200);
  }
</script>
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/vue.js"></script> 
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/axios.min.js"></script> 
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/index.js"></script> 
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/sealfont.js"></script> 
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/ku.js"></script> 
<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/common.js"></script> 
<script src="/e/ecmsshop/from/js/from.js"></script> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4adc39c3d725cdc248f5e35b79461191";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


<script>
document.write('<script src="/e/ecmsshop/userfl/?id=1&t='+Math.random()+'"><'+'/script>');
</script>

    <script>
        // 关闭广告功能
        function closeAdx() {
            const adContainer = document.querySelector('.adx-float-container');
            adContainer.style.opacity = '0';
            adContainer.style.transform = 'translateY(-50%) scale(0.5)';
            
            setTimeout(() => {
                adContainer.style.display = 'none';
            }, 300);
        }
        

        
        // 模拟倒计时更新
        function updateCountdown() {
            const countdown = document.querySelector('.adx-countdown');
            if (countdown) {
                const now = new Date();
                const hours = 23 - now.getHours();
                const minutes = 59 - now.getMinutes();
                const seconds = 59 - now.getSeconds();
                
                countdown.textContent = ` 免费领取: ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            }
        }
        
        // 初始化倒计时
        setInterval(updateCountdown, 1000);
        updateCountdown();
    </script>





<!--下面是登录需要的 请勿删除-->
<link rel="stylesheet" type="text/css" href="//xiniuniu.oss-cn-shanghai.aliyuncs.com/lcss/login.css?v6"/>
<script type="text/javascript" src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/lcss/login.js?v6"></script>
<div class="xajaxlogin three-login clearfix" style="display:none;"> 
  <!-- 广告模块 -->
  <div class="normal-imgs focus66 sysFocusImgSing" data-id="339"> <a rel="nofollow" href="#" target="_blank"><img src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/lcss/ad.png" alt=""></a></div>
  <!-- 登录模块 -->
  <div class="normal loginbox"> 
    <!-- 没有账号，立即登录 -->
    <div class="three-login-notips">
      <p>喜牛牛</p>
      <div style="margin-top: 10px;"> 没有账号？ <a href="javascript:;" id="threeRegister" style="color: blue;">注册>></a> </div>
    </div>
    <div class="loginType"> <span><a href="javascript:;" class="style-contant-wechat">微信登录</a></span> <span><a href="javascript:;" class="three-login-phoneeml">手机号登录</a></span> 
      <!--span><a href="javascript:;" class="phoneLogin">手机号登录</a></span--> 
    </div>
    
    <!-- 第三方登陆 -->
    <div class="login-style loginv3-style"> 
      <!-- <div class="login-style-title">
                <b></b>第三方登录<b></b>
            </div> -->
      <div class="login-style-contant"> 
        <!-- <span>
                        <a href="javascript:;" class="style-contant-wechat"></a>
                        <b>微信</b>
                        <em class="login-type-wx">（最近登录）</em>
                    </span> --> 
        
        <!-- 微信扫一扫登录 -->
        <div class="login3-wechat">
          <div class="login3-wechat-title">
            <input type="hidden" id="key" value="AFCE20D4331394AF282D6BB0F9497846">
          </div>
          <div class="login3-wechat-erweima"> 
            <!-- 二维码生成 -->
            <div class="login3-erweima-box">
              <div class="login-others"><a href="/e/memberconnect/?apptype=gweixin"
										class="other-logo logo-wechat" rel="external nofollow"></a></div>
            </div>
            <!-- 三种状态对应的文案 -->
            <div class="login3-erweima-black" style="display: none;"> </div>
          </div>
          <h6><i></i> 微信扫码安全登录</h6>
        </div>
        <!-- 手机号登录 -->
        <div class="login3-phone login-from" style="display: none;"> </div>
        
        <!--div class="login3-qqphone">
						<span style="margin: 0;">其他登录：</span>
						<a href="/e/memberconnect/?apptype=qq" class="style-contant-qq"></a>
						<b>QQ</b>
					</div--> 
      </div>
      <div class="login-style-text"> 注册和登录即代表您已同意 <a href="#" target="_blank">《本站用户协议》</a> </div>
    </div>
  </div>
  <!--注册模块-->
  <div class="normal other-normal" style="display:none;">
    <div class="normal-login">
      <div class="normal-login-title gotologin4-1"></div>
      <div class="login-from" data-login-switch="normal"> 
        <!-- 国际区号 -->
        <label>
        <em></em>
        <div class="intl-tel-input allow-dropdown separate-dial-code iti-sdc-3">
          <div class="flag-container"></div>
          <input id="selectAreaCode" type="text" class="area-code monitor-input1 user-reg" placeholder="手机号" autocomplete="off">
        </div>
        </label>
        <!-- 验证码 -->
        <label class="login-yzm">
          <input type="text" name="" class="monitor-input3 user-pwd" placeholder="输入密码" maxlength="16" autocomplete="off">
        </label>
        <label class="login-password register-pwd">
          <input type="text" name="" id="email" class="monitor-input2 user-email" placeholder="输入邮箱" maxlength="26" autocomplete="new-password">
          <i id="passwordActive" data-pwd="1" class="seepwd"></i> </label>
        <input type="hidden" id="register" value="1">
      </div>
      
      <!-- 语言验证码 -->
      <div class="login-yzm-voice">
        <p class="yzm-voice-3">输入手机号&gt;设置密码&gt;完成注册</p>
      </div>
      <div class="login-btn"> <a id="loginBtn" class="model-reg">注册</a> </div>
    </div>
    
    <!-- 第三方登陆 -->
    <div class="login-style pt-0" style="display:none;">
      <div class="login-style-title"> <b></b>第三方登录<b></b> </div>
      <div class="login-style-contant"> <a href="/e/memberconnect/?apptype=qq" class="style-contant-qq"></a> <a href="/e/memberconnect/?apptype=gweixin" class="style-contant-wechat"></a> </div>
      <div class="login-style-text"> 注册和登录即代表您已同意 <a href="#" target="_blank">《本站用户协议》</a> </div>
    </div>
  </div>
  <!--用户名登陆-->
  <div class="normal userloginbox" style="display:none;">
    <div class="normal-login">
      <div class="normal-login-title gotologin4-1"></div>
      <div class="three-login-notips"> 没有账号？<a href="javascript:;" id="threeRegistershouji">立即注册</a> </div>
      <div class="login-from" data-login-switch="normal"> 
        <!-- 国际区号 -->
        <label for="">
        <em></em>
        <div class="intl-tel-input allow-dropdown separate-dial-code iti-sdc-3">
          <input id="selectAreaCode" type="tel" class="area-code monitor-input1 user-login" placeholder="手机号" data-area="CN" maxlength="40" autocomplete="off">
        </div>
        </label>
        <!-- 用户密码 -->
        <label for="" class="login-password">
          <input type="password" name="" id="password" class="monitor-input2 user-pass" placeholder="密码" maxlength="20" autocomplete="new-password">
          <i id="passwordActive" data-pwd="0"></i> </label>
      </div>
      <div class="login-operation clearfix">
        <div class="login-forget"> <a class="forget-pwd" href="/e/member/GetPassword/" target="_blank">忘记密码</a> </div>
      </div>
      <!-- 语言验证码 -->
      
      <div class="login-btn"> <a id="loginBtn">登录</a> </div>
    </div>
    <!-- 第三方登陆 -->
    <div class="login-style">
      <div class="login-style-text"> 注册和登录即代表您已同意 <a href="#" target="_blank">《本站用户协议》</a> </div>
    </div>
  </div>
</div>

<script src="//xiniuniu.oss-cn-shanghai.aliyuncs.com/zz/js/y04.js"></script>
</body>
</html>此栏目暂无任何新增信息